name: scheduled daily update of gliff-ai packages
on:
  workflow_dispatch:
  schedule:
    - cron: "00 06 * * 1,2,3,4,5"

jobs:
  npm_update:
    uses: gliff-ai/.github/.github/workflows/update-gliff-ai.yml@main
    secrets:
      ROBOT_PAT: ${{ secrets.ROBOT_PAT }}
